@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "montserrat", sans-serif;
}
body{
    background-color: rgb(46, 41, 36);
}
.container{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#header{
    background-color: rgb(172, 165, 165);
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    border-radius: 5px;
}

#header .form{
    flex-direction: column;
    align-items: top;
    max-width: 400px;
    margin-top: -80px;
    padding: 100px 25px;

}
#header input{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
}
#header .icon:nth-child(1){
    background-image: url("https://img.icons8.com/ios-filled/50/000000/username.png");
    background-size: 30px;
    background-color: white;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 70px;
}
#header .icon:nth-child(2){
    background-image: url("https://img.icons8.com/ios-glyphs/50/000000/password--v1.png");
    background-size: 30px;
    background-color: white;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 70px;

}
.header-2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.cta{
    display:flex;
    padding: 10px 30px;
    width: 300px;
    color: white;
    justify-content: center;
    background-color: rgb(80, 231, 130);
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
}
.reg{
    display: flex;
    font-size: 1.5rem;
    color: black;
    text-transform: capitalize;
    padding-left: 60px;
    align-items: center;
}
#header fieldset{
    border: 2px solid transparent;
    border-top-color: black;
    position: relative;
    margin-top: 50px;
    margin-bottom: -50px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 2.0rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#header legend{
    margin: auto;
    padding: 0 6px;
}
.social{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.social-icon{
    height: 50px;
    width: 50px;
    margin: 0 50px;
    padding: 5px;
}
@media only screen and (min-width:1200px){
    #header .form{
       max-width: 1500px;
    }
}